<footer>
    <div class="footer-container">
        <img src="https://ifts12online.com.ar/pluginfile.php/1/theme_academi/logo/1761693435/logo-ok.png"
            alt="Logo IFTS 12" class="footer-logo">

        <div class="footer-info">
            <h4>Desarrollo de Sistemas Orientado a Objetos</h4>
            <p>Instituto de Formación Técnica Superior N° 12</p>
            <p>Integrantes: César, Diego, Gastón, Juan Carlos</p>
            <small>© 2025 — Trabajo Práctico Final</small>
            <p>
                <a href="https://ifts12online.com.ar" target="_blank" class="footer-link">
                    ifts12online.com.ar
                </a>
            </p>
        </div>
    </div>
</footer>