{% extends "layout.html" %}
{% block title %}Talleres{% endblock %}
{% block content %}
<div class="contenedor">
    <div class="title-button">
        <p>Inscripciones</p>
        <a id="btn-nuevo-alumno" class="btn btn-alta" href="#modal-inscripcion">+ Nueva Inscripcion</a>

    </div>

    <table>
        <thead>
            <tr>
                <th>Alumno</th>
                <th> </th>
                <th>Taller</th>
                <th>Modalidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for inscripcion in inscripciones %}
            <tr>
                <td>{{ inscripcion.alumno_nombre }}</td>
                <td>{{ inscripcion.alumno_apellido }}</td>
                <td>{{ inscripcion.taller_nombre }}</td>
                <td>{{ inscripcion.modalidad }}</td>
                <td>
                    {% include 'svg_delete.html' %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- ===================== MODALES ===================== -->
    <section class="modal" id="modal-inscripcion">
        <div class="dialog">
            <header>
                <h3 id="modal-titulo">Nuevo Inscripcion</h3>
            </header>
            <div class="content">
                <form id="formInscripcion" action="{{ url_for('inscripciones.crear_inscripcion') }}" method="POST">
                    <div class="form-grid">
                        <label>DNI de Alumno
                            <input name="dni" type="text" placeholder="9999999" required>
                        </label>

                        <label>Taller
                            <select name="id_taller" required>
                                <option value="" disabled selected>Selecciona un taller</option>
                                {% for taller in talleres %}
                                <option value="{{ taller.id }}">{{ taller.nombre }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert-error">{{ message }}</div>
                    {% elif category == 'success' %}
                    <div class="alert-success">{{ message }}</div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <footer>
                        <a class="btn btn-volver" href="#">Cerrar</a>
                        <button type="submit" class="btn btn-alta">Guardar</button>
                    </footer>
                </form>
            </div>

        </div>
    </section>
</div>
{% endblock %}