<nav class="nav-bar">
    <div style="display: flex; align-items: center ;">
        <svg width="40px" height="40px" viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg"
            fill="#ffffff" stroke="#ffffff">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path fill="#ffffff" d="M576 128v288l96-96 96 96V128h128v768H320V128h256zm-448 0h128v768H128V128z">
                </path>
            </g>
        </svg>
        <h1 style="margin-left: .5rem;">Gestión de Talleres y Cursos</h1>
    </div>
    <div class="enlaces" style="margin-top: .5rem;">
        <a href="/talleres">Talleres</a>
        <a href="/alumnos">Alumnos</a>
        <a href="/inscripciones">Inscripciones</a>
    </div>


</nav>